<div class="container-fluid">

    <!-- RESTAURANTE AND PERFIL -->
    <div class="container p-0 bg-danger">
        <div class="row">
            <!-- SECCION DE RESTAURANTE -->
            <div class="col-8 bg-primary p-0">
                <div class="relative" style="height: 80px; background: rgb(0, 255, 179);">
                    <p class="absolute centrado fuente6" style="font-size: 40px;">RESTAURANTE</p>
                </div>

                <!-- DESAYUNO -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(27, 206, 87);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;">DESAYUNO</p>
                    </div>

                    <div style="background: rgb(71, 250, 130);">
                        <!-- PLAT 1 -->
                        <div class="row m-0" style="height: 150px;border: 2px solid black;">
                            <!-- IMG -->
                            <div class="col-4 py-2">
                                <img class="img-fluid " src="../../assets/images/plato.jpg" alt="" style="height: 100%;width: 150px;">
                            </div>
                            <!-- NAME -->
                            <div class="col-4 relative">
                                <p class="m-0 fuente5 absolute centrado negrita" style="font-size: 20px;">Arroz con huevo <br> 6$</p>
                            </div>
                            <!-- BOTON -->
                            <div class="col-4 relative">
                                <button class="absolute centrado btn btn-primary fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- PLAT 2 -->
                        <div class="row m-0" style="height: 150px;border: 2px solid black;">
                            <!-- IMG -->
                            <div class="col-4 py-2">
                                <img class="img-fluid " src="../../assets/images/plato.jpg" alt="" style="height: 100%;width: 150px;">
                            </div>
                            <!-- NAME -->
                            <div class="col-4 relative">
                                <p class="m-0 fuente5 absolute centrado negrita" style="font-size: 20px;">Arroz con huevo <br> 6$</p>
                            </div>
                            <!-- BOTON -->
                            <div class="col-4 relative">
                                <button class="absolute centrado btn btn-primary fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ALMUERZO -->
                <div class="relative" style="height: 80px; background: rgb(156, 53, 197);">
                    <p class="absolute centrado fuente6 raton" style="font-size: 30px;">ALMUERZO</p>
                </div>
                <!-- CENA -->
                <div class="relative" style="height: 80px; background: rgb(174, 190, 29);">
                    <p class="absolute centrado fuente6 raton" style="font-size: 30px;">CENA</p>
                </div>
            </div>

            <!-- SECCION DEL PERFIL -->
            <div class="col-4 bg-warning p-0 text-center pt-5">
                <p class="m-0 fuente4" style="font-size: 40px;">Alexander Saavedra Quillahuaman</p>
                <img class="img-fluid mt-4 px-5" src="../../assets/images/user.jpg" alt="" >
            </div>
        </div>
    </div>
</div>