<div class="container-fluid">
    <!-- HABITACIONES AND PERFIL -->
    <div class="container p-0 bg-danger">
        <div class="row">
            <!-- SECCION DE HABITACIONES -->
            <div class="col-8 bg-primary p-0">
                <div class="relative" style="height: 80px; background: rgb(0, 255, 179);">
                    <p class="absolute centrado fuente6" style="font-size: 40px;">HABITACIONES</p>
                </div>

                <!-- MATRIMONIAL -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(27, 206, 87);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;">MATRIMONIAL</p>
                    </div>

                    <div style="background: rgb(71, 250, 130);">
                        <!-- HAB 1 -->
                        <div class="row m-0" style="height: 150px;border: 2px solid black;">
                            <!-- IMG -->
                            <div class="col-4 py-2">
                                <img class="img-fluid " src="../../assets/images/habitacion.jpg" alt="" style="height: 100%;width: 150px;">
                            </div>
                            <!-- NAME -->
                            <div class="col-4 relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">101</p>
                            </div>
                            <!-- BOTON -->
                            <div class="col-4 relative">
                                <button class="absolute centrado btn btn-primary fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="row m-0" style="height: 150px;border: 2px solid black;">
                            <!-- IMG -->
                            <div class="col-4 py-2">
                                <img class="img-fluid " src="../../assets/images/habitacion.jpg" alt="" style="height: 100%;width: 150px;">
                            </div>
                            <!-- NAME -->
                            <div class="col-4 relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">102</p>
                            </div>
                            <!-- BOTON -->
                            <div class="col-4 relative">
                                <button class="absolute centrado btn btn-primary fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TRIPLE -->
                <div class="relative" style="height: 80px; background: rgb(156, 53, 197);">
                    <p class="absolute centrado fuente6 raton" style="font-size: 30px;">TRIPLE</p>
                </div>
                <!-- DOBLE -->
                <div class="relative" style="height: 80px; background: rgb(174, 190, 29);">
                    <p class="absolute centrado fuente6 raton" style="font-size: 30px;">DOBLE</p>
                </div>
                <!-- SIMPLE -->
                <div class="relative" style="height: 80px; background: rgb(31, 120, 221);">
                    <p class="absolute centrado fuente6 raton" style="font-size: 30px;">SIMPLE</p>
                </div>
            </div>

            <!-- SECCION DEL PERFIL -->
            <div class="col-4 bg-warning p-0 text-center pt-5">
                <p class="m-0 fuente4" style="font-size: 40px;">Alexander Saavedra Quillahuaman</p>
                <img class="img-fluid mt-4 px-5" src="../../assets/images/user.jpg" alt="" >
            </div>
        </div>
    </div>
</div>