<h2 style="margin: 0px;">Trabajo con Objetos</h2>

<p style="margin: 0px;">-------  -------</p>
<p>TypeScript</p>
<p style="margin: 0px;">-------  -------</p>

<p style="text-align: justify;">

  Preparar un programa que permita: <br>
  <li>Crear productos</li> 
  <li>Agregarlos a un almacen</li>
  <li>Modificar la cantidad de productos en el almacen (saldo)</li>
  <li>Tener cuidado con los saldos negativos</li>
  <li>Trabajar con más de un almacen</li>
  <li>Mover productos entre almacenes</li>
  <br>
  Todo es en consola, la aplicación deberá mostrar los mensajes correspondientes a las acciones de muestra, es decir, si creo un producto y lo agrego al almacen 01, mostrar los productos con sus saldos en el almacen 01.
  <br><br>
  No es necesario interacción con la aplicación. Presentación individual. Subir el proyecto a github y presentar la url de github para la revisión del código fuente.

</p>

<h2 style="margin: 0px;">Alexander Saavedra</h2>
